<!DOCTYPE html>
<html>
<head>
    <title>Agregar Asistente</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
    <h2>Agregar Asistente</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
