<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{% block title %}TFG{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Aquí coloca el contenido del encabezado común a todas las páginas -->
    </header>
    
    <nav>
        <!-- Aquí coloca el menú de navegación común a todas las páginas -->
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Aquí coloca el pie de página común a todas las páginas -->
    </footer>
</body>
</html>
